[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/oxyc0don/rtl8812au
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/oxyc0don/rtl8188eus
[submodule "drivers/net/can/elmcan"]
	path = drivers/net/can/elmcan
	url = https://github.com/oxyc0don/elmcan
[submodule "kali-nethunter-kernel-builder"]
	path = kali-nethunter-kernel-builder
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder
[submodule "drivers/net/can/can-isotp"]
	path = drivers/net/can/can-isotp
	url = https://github.com/oxyc0don/can-isotp
[submodule "drivers/net/can/usb-can-2-module"]
	path = drivers/net/can/usb-can-2-module
	url = https://github.com/oxyc0don/usb-can-2-module
